# Based on https://github.com/intel/multus-cni/blob/master/examples/macvlan-conf.yml
# Macvlan definition for UAS on the node management network
{% set network_def = networks.node_management.network + "/" + networks.node_management.netmask %}
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: macvlan-uas-nmn-conf
spec:
  config: '{
      "cniVersion": "0.3.0",
      "type": "macvlan",
      "master": "mac0",
      "mode": "bridge",
      "ipam": {
        "type": "host-local",
        "subnet": "{{ network_def | ipaddr('network/prefix') }}",
        "rangeStart": "{{ networks.node_management.uai_macvlan_range_start }}",
        "rangeEnd": "{{ networks.node_management.uai_macvlan_range_end }}"
      }
    }'
