# Copyright 2018, Cray Inc. All Rights Reserved.
---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: cray-uas-mgr
---
apiVersion: v1
kind: Service
metadata:
  name: cray-uas-mgr
spec:
  selector:
      app: cray-uas-mgr
  ports:
  - name: cray-uas-mgr
    port: {{ cray_uas_mgr_port }}
    protocol: TCP
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: cray-uas-mgr
  labels:
    app: cray-uas-mgr
spec:
  replicas: 2
  template:
    metadata:
      labels:
        app: cray-uas-mgr
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 50
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - cray-uas-mgr
              topologyKey: kubernetes.io/hostname
      serviceAccountName: cray-uas-mgr
      volumes:
      - name: ca-vol
        configMap:
          name: cray-configmap-ca-public-key
      - name: cray-uas-mgr-cfgmap
        configMap:
          name: {{ cray_uas_mgr_configmap }}
      containers:
      - name: cray-uas-mgr
        image: {{ cray_stack_registry_source }}/cray/cray-uas-mgr:{{ cray_uas_mgr_image_version }}
        ports:
        - containerPort: {{ cray_uas_mgr_port }}
        volumeMounts:
          - name: cray-uas-mgr-cfgmap
            mountPath: /etc/uas
          - name: ca-vol
            mountPath: /mnt/ca-vol
        readinessProbe:
          httpGet:
            path: /v1/mgr-info
            port: {{ cray_uas_mgr_port }}
          periodSeconds: 3
          initialDelaySeconds: 5
        livenessProbe:
          httpGet:
            path: /v1/mgr-info
            port: {{ cray_uas_mgr_port }}
          periodSeconds: 3
          initialDelaySeconds: 5
