# Copyright 2018, Cray Inc. All Rights Reserved.
---
apiVersion: v1
data:
  cray-uas-mgr.yaml: |
    #
    # Copyright 2018, Cray Inc.  All Rights Reserved.
    #
    # Cray User Access Instance Manager Configuration file.
    #
    # This file provides the configuration data for the user access instance
    # manager.
    #
    ---
    # UAS Instance IP/hostname.
    # This section defines the external IP/hostname that UAS instance access
    # will use.
    # uas_ip: UAS Instance IP

    # UAS Ports
    # This section defines the ports that the UAS instance services will expose
    # for user access.
    uas_ports:
{% if uas_mgr is defined %}
{% if uas_mgr.uas_ports is defined %}
{% for item in uas_mgr.uas_ports %}
      - {{ item }} # DO NOT DELETE!
{% endfor %}
{% else %}
      - 30123
{% endif %}
{% endif %}

    # UAS Service Types
    # This section defines the service types that the UAS instance will use for
    # user ssh and UAI service I/O.
    # uas_ssh_type: defines the service type for user ssh access to the UAI.
{% if uas_mgr is defined %}
{% if uas_mgr.uas_ssh_type is defined %}
    uas_ssh_type: "{{ uas_mgr.uas_ssh_type }}"
{% endif %}
{% endif %}

    # UAS Service Load Balancer Pools
    # This section defines the service load balancer IP pools that the UAS
    # instance will use for user ssh and UAI service I/O.
    # uas_ssh_lb_pool: defines the service load balancer IP pool for user ssh access to the UAI.
{% if uas_mgr is defined %}
{% if uas_mgr.uas_ssh_lb_pool is defined %}
    uas_ssh_lb_pool: "{{ uas_mgr.uas_ssh_lb_pool }}"
{% endif %}
{% endif %}

    # Volume mounts.
    # This section defines which filesystems, configmaps, and secrets will be volume
    # mounted to the UAS instance.
    #   name: name of the mount
    #   mount_path: absolute path where the UAS instance should mount this volume.
    #   For filesystems, set the following:
    #       host_path: absolute path on the host system of the volume to mount.
    #       type: host_path mount type. Default: DirectoryOrCreate (optional)
    #   For configmaps, set the following:
    #       config_map: the name of the configmap to mount
    #   For secrets, set the following:
    #       secret_name: name of the secret to mount
    volume_mounts:
{% if uas_mgr is defined %}
{% for item in uas_mgr.volume_mounts %}
      - name: {{ item.name }}
        mount_path: {{ item.mount_path }}
{% if item.host_path is defined %}
        host_path: {{ item.host_path }}
{% endif %}
{% if item.type is defined %}
        type: {{ item.type }}
{% endif %}
{% if item.config_map is defined %}
        config_map: {{ item.config_map }}
{% endif %}
{% if item.secret_name is defined %}
        secret_name: {{ item.secret_name }}
{% endif %}
{% endfor %}
{% endif %}

    # UAS Images
    # The following list contains the supported images a user may choose for
    # their UAS instance.  Image names must be quoted if they contain special
    # characters such as ':'.
    #
    #   default_image: default image name to use if none are selected.
    #   images:
    #     - 'repo:port/cray-uas-img:latest'
    #
    uas_images:
{% if uas_mgr is defined %}
      default_image: "{{ uas_mgr.uas_images.default_image | default(None, true) }}"
      images:
{% for item in uas_mgr.uas_images.images %}
        - "{{ item }}"
{% endfor %}
{% endif %}

    uai_namespace: "{{ uai_namespace }}"
kind: ConfigMap
metadata:
  name: {{ cray_uas_mgr_configmap }}
