# Copyright 2018, Cray Inc. All Rights Reserved.
---
apiVersion: v1
kind: Service
metadata:
  name: cray-uas-mgr
spec:
  selector:
      app: cray-uas-mgr
  ports:
  - name: cray-uas-mgr
    port: {{ cray_uas_mgr_port }}
    protocol: TCP
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: cray-uas-mgr
  labels:
    app: cray-uas-mgr
spec:
  replicas: 2
  template:
    metadata:
      labels:
        app: cray-uas-mgr
        api-gateway: upstream
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 50
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - cray-uas-mgr
              topologyKey: kubernetes.io/hostname
      serviceAccountName: cray-uas-mgr
      volumes:
      - name: ca-vol
        configMap:
          name: cray-configmap-ca-public-key
      - name: cray-uas-mgr-cfgmap
        configMap:
          name: {{ cray_uas_mgr_configmap }}
      - name: admin-client-auth
        secret:
          secretName: "{{ kong_admin_client_auth_secret_name }}"
      containers:
      - name: cray-uas-mgr
        image: {{ cray_stack_registry_source }}/cray/cray-uas-mgr:{{ cray_uas_mgr_image_version }}
        ports:
        - containerPort: {{ cray_uas_mgr_port }}
        volumeMounts:
          - name: cray-uas-mgr-cfgmap
            mountPath: /etc/uas
        readinessProbe:
          httpGet:
            path: /v1/mgr-info
            port: {{ cray_uas_mgr_port }}
          periodSeconds: 3
          initialDelaySeconds: 5
        livenessProbe:
          httpGet:
            path: /v1/mgr-info
            port: {{ cray_uas_mgr_port }}
          periodSeconds: 3
          initialDelaySeconds: 5
      - name: register-api-gateway
        image: {{ cray_stack_registry_source }}/cray/cray-api-gw-tools:{{ cray_api_gw_tools_version }}
        env:
        - name: API_GW_ADMIN_URL
          value: {{ api_gw_admin_internal_url }}
        - name: CA_CERT
          value: /mnt/ca-vol/certificate_authority.crt
        - name: SERVICE_NAME
          value: cray-uas-mgr
        - name: UPSTREAM_URL
          value: http://cray-uas-mgr:8080/
        - name: ROUTE_PATH
          value: /apis/uas-mgr
        - name: HTTPS_REQUIRED
          value: "{{ 'False' if (kong_allow_insecure | bool) else 'True' }}"  # SHASTACMS-1587: Make https-only once clients/tests are updated to https
        - name: OAUTH_CONFIG_DIR
          value: '/etc/admin-client-auth'
        - name: AUTHENTICATION_REQUIRED
          value: "{{ 'True' if kong_auth_required else 'False' }}"
        volumeMounts:
        - name: ca-vol
          mountPath: /mnt/ca-vol
        - name: admin-client-auth
          mountPath: '/etc/admin-client-auth'
          readOnly: true
