{% extends "base.html" %}

{% block content %}
<form class="requestform" action="/apis/uas-mgr/v1/uas_access" method="post" enctype="multipart/form-data">
  <h2>Please select an action:</h2>

  <div class="bodycontainer">
    <label for="username"><b>Username (required)</b></label>
    <input type="text" placeholder="Enter Username" name="username"
           id="username" required><br>
    <label for="usersshpubkey"><b>SSH Public Key<br>(required to request User Access Instance)</b></label>
    <input type="file" placeholder="Public SSH key" name="usersshpubkey"
           id="usersshpubkey" accept=".pub" required><br>
    <input type="radio" name="uas_request" id="create_uan" value="create_uan" checked="true"
           onclick="document.getElementById('usersshpubkey').disabled = false;
                    document.getElementById('usersshpubkey').required = true;">
    Request User Access: Select Image:
    <select name="uan_image" id="uan_image">
      {% for item in image_list %}
      {% if item == default_image %}
      <option value="{{ item }}" selected>{{ item }}</option>
      {% else %}
      <option value="{{ item }}">{{ item }}</option>
      {% endif %}
      {% endfor %}
    </select><br>
    <input type="radio" name="uas_request" value="list_uans"
           onclick="document.getElementById('usersshpubkey').disabled = true;
                    document.getElementById('usersshpubkey').required = false;">
    List User Access Instances<br>
    <input type="radio" name="uas_request" value="delete_uan_request"
           onclick="document.getElementById('usersshpubkey').disabled = true;
                    document.getElementById('usersshpubkey').required = false;">
    Delete User Access Instances<br>
  </div>

  <div class="button_container">
    <input type="button" onclick="location.reload()" class="cancelbtn" value="Cancel"/>
    <button type="submit">Submit</button>
  </div>
</form>
{% endblock %}