{% extends "base.html" %}

{% block content %}
<h2>Remote Terminal List</h2>
<div class="bordered">
    <p>The following remote terminals are available to user <b>{{ username }}</b>:</p>

    {% if uan_list|length %}
    {% for item in uan_list %}
    <ul>
        <li><b>Name:</b> {{ item['uan_name'] }}</li>
        <li><b>Image:</b> {{ item['uan_img'] }}</li>
        <li><b>Status:</b> {{ item['uan_status'] }}</li>
        {% if item['uan_msg'] %}
        <li><b>Reason:</b> {{ item['uan_msg'] }}</li>
        {% endif %}
        <li><b>Connect String:</b> ssh {{ username }}@{{ item['uan_ip'] }} -p {{ item['uan_port'] }} -i ~/.ssh/id_rsa</li>
    </ul>
    {% endfor %}
    {% else %}
    No UANs found.
    {% endif %}

    <div class="button_container">
        <form action="{{ url_for('.swagger_server_controllers_uas_controller_uas_request_home') }}" method="get">
            <button type="submit" class="cancelbtn">Cancel</button>
        </form>
    </div>
</div>

{% endblock %}